body {
    word-break: break-all;
}

/* header */
.nav ul li:nth-child(2)::after {
    content: '';
    width: 16px;
    height: 1px;
    background: #fff;
    opacity: 0.7;
    position: absolute;
    left: 50%;
    bottom: -10%;
    margin-left: -8px;
    margin-bottom: -15px;
}
.nav ul li:nth-child(3)::after {
    display: none;
}
.nav ul li:nth-child(3) {
    margin-top: 50px;
}
.nav ul li:nth-child(4) {
    margin-top: 20px;
}

/* main */
.main_section05 .txt_fild ul {
		display: none;	
}
.main_section04 .main_txt {
	word-break: keep-all;	
}